<div class="rent_card">
    <div class="rent_card_title_image">
        <p><%= car.title %></p>
    </div>
    <img class="rent_card_image"
        src=<%= car.image.filename %> width="220"
        height="190" alt="Smille">
    <div class="rent_content_list">
        <div class="list_container">
            <img class="rent_list_svg" src="<%- include('../partials/path'); %>/local/images/fuel.svg" width="28"
                height="28" alt="Benz">
            <p class="rent_list_title">Бензин</p>
        </div>
        <div class="list_container">
            <img class="rent_list_svg" src="<%- include('../partials/path'); %>/local/images/transmission.svg"
                width="28" height="28" alt="Benz">
            <p class="rent_list_title">Механіка</p>
        </div>
        <div class="list_container">
            <img class="rent_list_svg" src="<%- include('../partials/path'); %>/local/images/seat.svg" width="28"
                height="28" alt="Benz">
            <p class="rent_list_title">5 сидений</p>
        </div>
        <div class="list_container">
            <img class="rent_list_svg" src="<%- include('../partials/path'); %>/local/images/car.svg" width="28"
                height="28" alt="Benz">
            <p class="rent_list_title">4,3 л. (134 л.с)</p>
        </div>
    </div>
    <div class="rent_card_prices">
        <div class="rent_card_title">
            <p class="rent_card_day">1-2 суток</p>
            <p class="rent_card_price"><%= car.price.one %> </p>
        </div>
        <div class="rent_card_title">
            <p class="rent_card_day">3-10 суток</p>
            <p class="rent_card_price"><%= car.price.two %></p>
        </div>
        <div class="rent_card_title">
            <p class="rent_card_day">11-20 суток</p>
            <p class="rent_card_price"><%= car.price.third %></p>
        </div>
        <div class="rent_card_title">
            <p class="rent_card_day">20 + суток</p>
            <p class="rent_card_price"><%= car.price.fourth %></p>
        </div>
    </div>

    <% if (type?.label !== 'reserv') { %>
    <a href=http://localhost:4000/reserv/<%= car._id %> class="rent_card_confirm">Оренда</a>
    <% } %>
</div>