<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reserv</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:4000/css/pages/reserv.css">
    <link rel="stylesheet" href="http://localhost:4000/css/partials/car-card.css">
    <%- include('../head/defaultHead'); %>
</head>

<body id="body">
    <div class="wrapper">
        <%- include('../partials/navbar'); %>

            <%- include('../partials/sidebar'); %>
            <%- include('../partials/toast.ejs'); %>


                <main class="main_content">
                    <section class="hero_section">
                        <h1 class="reserv_title">Резервація автомобіля</h1>
                        <div class="main_container">
                            <div class="card_section">
                                <%- include('../partials/car-card', { car, type: { label: "reserv" } }); %>
                            </div>
                            <div class="form_section">
                                <form id="form" class="form">
                                    <!-- <p class="input_label">Ім'я:</p> -->
                                    <div class="user-info_input">
                                        <input class="input_content" type="text" name="name" id="name" placeholder="Введіть ваше ім'я">
                                    </div>
                                    <!-- <p class="input_label">Прізвище:</p> -->
                                    <div class="user-info_input">
                                        <input class="input_content" type="text" name="lastName" id="lastName" placeholder="Введіть ваше прізвище">
                                    </div>
                                    <!-- <p class="input_label">Емейл:</p> -->
                                    <div class="user-info_input">
                                        <input class="input_content" type="email" name="email" id="email" placeholder="Введіть ваш емейл">
                                    </div>
                                    <!-- <p class="input_label">Телефон:</p> -->
                                    <div class="user-info_input">
                                        <input class="input_content" type="text" name="phone" id="phone" placeholder="Введіть ваш номер телефону">
                                    </div>

                                    <div class="user-info_input_agree">
                                        <input type="checkbox" name="agree" id="agree">
                                        <p class="input_label">Я погоджуюсь з політикою компанії</p>
                                    </div>
                                    <button type="submit" class="form-btn">Зарезервувати</button>
                                </form>
                        </div>
                        </div>
                        <div class="reserv_text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In maxime quod minus illum animi! Nulla, officiis laboriosam nemo nesciunt, vero iste quod aliquam doloribus nisi maiores quaerat, doloremque perspiciatis voluptatum.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In maxime quod minus illum animi! Nulla, officiis laboriosam nemo nesciunt, vero iste quod aliquam doloribus nisi maiores quaerat, doloremque perspiciatis voluptatum.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In maxime quod minus illum animi! Nulla, officiis laboriosam nemo nesciunt, vero iste quod aliquam doloribus nisi maiores quaerat, doloremque perspiciatis voluptatum.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In maxime quod minus illum animi! Nulla, officiis laboriosam nemo nesciunt, vero iste quod aliquam doloribus nisi maiores quaerat, doloremque perspiciatis voluptatum.</p> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In maxime quod minus illum animi! Nulla, officiis laboriosam nemo nesciunt, vero iste quod aliquam doloribus nisi maiores quaerat, doloremque perspiciatis voluptatum.</p>
                        </div>
                    </section>
                </main>

                <%- include('../partials/footer'); %>
    </div>

    <script type="module" src="http://localhost:4000/js/index.js"></script>
    <script type="module" src="http://localhost:4000/js/reserv.js"></script>
</body>

</html>