<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reserv</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:4000/css/pages/reserv.css">
    <link rel="stylesheet" href="http://localhost:4000/css/partials/car-card.css">
    <link rel="stylesheet" href="http://localhost:4000/css/partials/toast.css">
    <%- include('../head/defaultHead'); %>
</head>

<body id="body">
    <div class="wrapper">
        <%- include('../partials/navbar'); %>

            <%- include('../partials/sidebar'); %>
            <%- include('../partials/toast.ejs'); %>


                <main class="main_content">
                    <section class="hero_section">
                        <div class="main_container reserve_section">
                            <div class="card_section">
                                <%- include('../partials/car-card', { car, type: { label: "reserv" } }); %>
                            </div>
                            <div class="form_section">
                                <form id="form" class="form">
                                    <h1 class="reserv_title"><span class="reserv_title_span">Резервація</span> автомобіля</h1>
                                    <div class="input_content_name input_hover_anim">
                                        <input class="input_content" type="text" name="name" id="name" placeholder="Введіть ваше ім'я">
                                    </div>
                                    <div class="input_content_lastName input_hover_anim">
                                        <input class="input_content" type="text" name="lastName" id="lastName" placeholder="Введіть ваше прізвище">
                                    </div>
                                    <div class="input_content_email input_hover_anim">
                                        <input class="input_content" type="text" name="email" id="email" placeholder="Введіть ваш емейл">
                                    </div>
                                    <div class="input_content_phone input_hover_anim">
                                        <input class="input_content" type="text" name="phone" id="phone" placeholder="Введіть ваш номер телефону">
                                    </div>

                                    <div class="user-info_input_agree">
                                        <input type="checkbox" name="agree" id="agree">
                                        <p class="input_label">Я погоджуюсь з політикою компанії</p>
                                    </div>
                                    <button type="submit" class="form-btn">Зарезервувати</button>
                                </form>
                        </div>
                        </div>
                        <div class="reserv_text">
                            <h2 class="reserv_title"><span class="reserv_title_span">Про</span> нас</h1>
                            <p>Вам потрібна оренда авто у Києві чи Львові ?</p>
                            <p>Компанія Google cars з радістю надасть Вам послуги з прокату авто. Безкоштовне бронювання, повне страхування, можливість орендувати авто з безлімітним пробігом.</p>
                            <p>Авто можна орендувати в аеропорт Бориспіль, Жуляни, на вокзалі або отримати за адресою.</p>                    
                            <p>Що потрібно для оформлення оренди авто:</p>
                            <ol>
                                <li>паспорт;</li>
                                <li>водійське посвідчення;</li>
                                <li>ІНН( для громадян України)</li>
                            </ol>
                            <p>Вартість оренди авто залежить від періода та розраховується індивідуально.Дїє система лояльності для постійних клієнтів</p>
                        </div>
                    </section>
                </main>

                <%- include('../partials/footer'); %>
    </div>

    <script type="module" src="http://localhost:4000/js/index.js"></script>
    <script type="module" src="http://localhost:4000/js/reserv.js"></script>
</body>

</html>